<div class="container">
  <div class="row">
    <div class="col-6">
      <% if @pack.image.attached? %>
        <img src="<%= url_for(@pack.image) %>" alt="" class="img-fluid">
      <% else %>
        <img src="http://image14.hanatour.com/uploads/2020/05/%ED%95%98%EB%82%98%ED%88%AC%EC%96%B4_%ED%95%9C%EB%9D%BC%EC%82%B0_(34)_30333314.jpg" alt="" class="img-fluid">
      <% end %>
    </div>
    <div class="col-6">
      <p><%= @pack.product_name %></p>
      <p><%= @pack.company_name %></p>
      <p><%= @pack.desc %></p>
    </div>
  </div>
  <hr>
</div>